/* Home.css */
.navbar {
  background-color: black; /* Black background color */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px; /* Padding around navbar */
}

.navbar-list {
  list-style: none; /* Remove bullet points */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Enable flexbox */
  justify-content: center !important; /* Center align items */
  align-items: center !important; /* Center items vertically */
}
.navbar-list li {
  padding: 5px;
  font-size: 20px;
  margin: 0 40px;
}

.navbar-list li a {
  color: #00bfff; /* Light blue font color */
  text-decoration: none; /* Remove underline */
}

.navbar-list li a:hover,
.navbar-list li:hover {
  text-decoration: underline; /* Underline on hover */
  color: lightblue;
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-list {
      flex-direction: column; /* Stack items vertically for smaller screens */
      align-items: center; /* Center items vertically */
  }

  .navbar-list li {
      margin: 10px 0; /* Add space between stacked list items */
  }
}

@media screen and (min-width: 1900px) {
  .navbar-list {
      font-size: 30px;
  }
  .main-text {
      font-size: 60px;
  }
}

@media screen and (max-width: 576px) {
  .navbar-list {
      flex-direction: column;
      align-items: center;
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover; /* Set a fixed background size */
  background-repeat: repeat; /* Prevent background from repeating */
  background-position: center; /* Center the background */
}

.canvas-container {
  width: 100%;
  height: 100%;
}
