/* Home.css */
.navbar {
    background-color: black; /* Black background color */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px; /* Padding around navbar */
}

.navbar-list li {
    font-size: 20px;
}

.navbar-list li a {
    color: #00bfff; /* Light blue font color */
    text-decoration: none; /* Remove underline */
}

.navbar-list li a:hover,
.navbar-list li:hover {
    text-decoration: underline; /* Underline on hover */
    color: lightblue;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover; /* Set a fixed background size */
    background-repeat: repeat; /* Prevent background from repeating */
    background-position: center; /* Center the background */
}

.canvas-container {
    width: 100%;
    height: 100%;
}

