.licensing {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.licensing h1 {
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: left;
    font-size: 42px;
    color: #fff var(--text-color);
}

.licensing p {
    margin-bottom: 15px;
}

.licensing h2 {
    font-size: 1.5em;
    margin: auto;

}


.licensing pre {
    background-color: auto;
    border-radius: 5px;
    overflow-x: auto;
}