.text-5xl {
    margin-bottom: 70px; 
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0; 
    border-radius: 12px;
  }
  
  .carousel-wrapper {
    width: 95%;
    max-width: 700px;
    margin: 1.5em auto;
    overflow: hidden;
    
  }

  

  .carousel-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .model-image{
    width: 70%;
    border-radius: 16px;
  }
  
  .carousel-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .carousel-button svg {
    font-size: 24px;
    color: #333;
  }
  
  
  

