.text-5xl {
    margin-bottom: 70px; 
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0; 
    border-radius: 12px;
  }
  
  .carousel-wrapper {
    width: 95%;
    max-width: 700px;
    margin: 1.5em auto;
    overflow: hidden;
    
  }

  

  .carousel-title{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .model-image{
    width: 70%;
    border-radius: 16px;
  }
  
  .carousel-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .carousel-button svg {
    font-size: 24px;
    color: #333;
  }

  .timeline-slider {
    margin: 2rem auto;
    width: 80%;
    max-width: 45rem;
}
.timeline-title{
  font-size: 2.5rem;
  font-weight: bold;
}
  

/* Customize the rc-slider */
.rc-slider {
  margin: 1rem 0;
}

.rc-slider-rail {
  height: 8px;
  background-color: #ddd;
}

.rc-slider-track {
  background-color: #007bff;
}

.rc-slider-handle {
  border: 2px solid #007bff;
  width: 24px;
  height: 24px;
  margin-top: -9px;
  background-color: #fff;
  cursor: grab;
}

.rc-slider-handle:hover {
  border-color: #0056b3;
}

.rc-slider-mark {
  font-size: 16px;
}

.rc-slider-mark-text {
  color: #333;
}

.rc-slider-mark-text-active {
  color: #007bff;
}
/* Models.css */

/* Other existing styles */

.popup-card {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1000; */
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}

.popup-image {
  width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Dark overlay for the background */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* z-index: 999; */
}

  

