
.navbar {
    background-color: rgb(0, 0, 0); /* Black background color */
    margin-right: 20px;
    padding-right: 20px;
  }
  
  .navbar-list {
    background-color: black;
    list-style: none; /*Remove bullet points*/
    margin: 0; /*Remove default margin*/
    padding: 10px 20px; /*Padding around navbar*/
    display: flex; /*Make navbar items display in a row*/
    justify-content: flex-end; /*Align items to the extreme right*/
    
  }
  
  .navbar-list li {
    margin-left: 20px;
  }
  
  .navbar-list li:first-child {
    margin-left: 0;
  }
  
  .navbar-list li a {
    color: white; 
    text-decoration: none;
  }
  
  .navbar-list li a:hover {
    text-decoration: underline;
  }
  
  
  